.numberContainer {
  display: flex;
  align-items: center;
}

.digitWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px; /* Khoảng cách giữa các số */
}

/* Kích thước hình tròn */
.circle {
  position: absolute;
  width: 20px; /* Đặt kích thước mặc định */
  height: 30px; /* Đặt kích thước mặc định */
  border-radius: 50%;
  z-index: 1; /* Đặt z-index để hình tròn nằm dưới chữ số */
  transition: opacity 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
  margin-right: 1px;
}

/* Màu sắc */
.red {
  background-color: rgb(174, 36, 36);
  font-size: 20px !important;
}

 .black {
  background-color: black;
  font-size: 20px !important;
}

/* Kích thước chữ số */
.digit {
  z-index: 2;
  position: relative;
}

/* Màu chữ khi quay ngẫu nhiên */
.whiteText {
  color: white;
  font-size: 22px !important;
  letter-spacing: 5px;
  text-align: center;
}

.redNumber {
  color: red; /* Áp dụng màu đỏ cho số */
}

/* Ẩn hình tròn sau khi quay xong */
.hidden {
  opacity: 0;
}

/* Responsive cho thiết bị di động */
@media (max-width: 768px) {
  .circle {
    width: 14px; /* Kích thước nhỏ hơn cho di động */
    height: 20px; /* Kích thước nhỏ hơn cho di động */
    align-items: center;
    justify-content: center;
  }

  .digit {
    font-size: 1rem; /* Kích thước chữ nhỏ hơn cho di động */
  }

  .whiteText {
    margin-left: 2px !important;
    color: white;
    font-size: 14px !important;
    letter-spacing: 5px;
    text-align: center;
  }
}

/* Responsive cho các màn hình nhỏ hơn */
@media (max-width: 480px) {
  .circle {
    width: 11px; /* Kích thước rất nhỏ cho các thiết bị nhỏ hơn */
    height: 15px; /* Kích thước rất nhỏ cho các thiết bị nhỏ hơn */
  }

  .digit {
    font-size: 0.8rem; /* Kích thước chữ nhỏ hơn cho các thiết bị nhỏ hơn */
  }

  .whiteText {
    margin-left: 2px !important;
    color: white;
    font-size: 10px !important;
    letter-spacing: 5px;
    text-align: center;
  }

  .digitWrapper {
    margin: 0 1px; /* Khoảng cách nhỏ hơn giữa các số trên thiết bị nhỏ */
  }
}


