button {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:last-of-type {
    margin-right: 0;
}


.button-save {
    background-color: #4caf50;
}

.button-save:hover {
    background-color: #45a049;
}

.button-clear {
    background-color: #f44336;
}

.button-clear:hover {
    background-color: #da190b;
}