.dashboardContainer {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    color: #007bff;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #666;
  }
  
  .adminPrizeTable {
    margin-top: 20px;
  }
  